@charset "utf-8";

/* 공통으로 적용될 초기화
================================================================ */
* {
  margin: 0;
  padding: 0;
  color: #222;
  font-size: 12px;
}

/* 모든 링크의 밑줄 제거
================================================================ */
a {
  text-decoration: none;
}

/* 전체박스 : 전체 레이아웃의 폭, 정렬을 제어하기 위한 박스
================================================================ */
#container {
  width: 800px;
  margin: auto;
}

/* 상단 : 폭 = 부모값, 높이=고정
================================================================ */
#header {
  background-color: #eeeeee;
  width: auto;
  height: 100px;
}

/* 상단 텍스트 처리
================================================================ */
.title {
  font-size: 20px;
  padding: 30px 0 0 10px;
}

/* 상단 목록 가로배치
================================================================ */
#header > ul > li {
  width: 20%;
  display: inline-block;
  text-align: center;
  height: 46px;
}

/* 상단 목록 처리
================================================================ */
#header > ul > li > a {
  display: block;
  padding: 10px 15px;
  width: auto;
  border: 1px solid #9e9e9e;
  margin-top: 10px;
}

/* 내용 : 폭 = 부모값, 높이=가변
================================================================ */
#content {
  width: auto;
}

/* 내용 > 본문 - 갤러리 영역
================================================================ */
#gallery {
  width: 640px;
  float: left;
  margin: auto;
}

/* 모든 목록정의 초기화
================================================================ */
ul,
ol {
  list-style: none;
}

/* 한 줄에 4개씩, 가로 배치
================================================================ */
#gallery li {
  width: 25%;
  float: left;
}

/* 링크의 영역 확장
* - 크기와 여백을 주기 위하여 block으로 설정 후, 가로 가득
================================================================ */
#gallery li a {
  display: block;
  padding: 10px;
  width: auto;
}

/* 링크 안의 span을 block으로 처리
================================================================ */
#gallery li a span {
  display: block;
  width: auto;
}

/* 이미지는 가득 채움
================================================================ */
#gallery .thumb img {
  width: 100%;
}

/* 텍스트 영역 처리
================================================================ */
#gallery .text {
  width: 95%;
  height: 30px;
  margin: auto;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
}

/* 내용 > 사이드 바
================================================================ */
#sidebar {
  width: 160px;
  background-color: #73ccb7;
  float: left;
  height: 170px;
}

/* 사이드바 영역처리
================================================================ */
.frm-login {
  width: auto;
  height: 170px;
  padding: 15px 0 0 10px;
}

/* 사이드바 border 제거
================================================================ */
fieldset {
  border: none;
}
/* legend 를 none으로 처리
================================================================ */
legend {
  display: none;
}

/* 아이디 비밀번호 폰트설정
================================================================ */
label {
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px 1.5px #212121;
}

/* 아이디 비밀번호 영역 처리
================================================================ */
input[type="text"],
[type="password"] {
  width: 140px;
  height: 28px;
  border: none;
  text-indent: 5px;
  margin: 0 20px 13px 0;
}

/* 로그인 회원가입 영역 처리
================================================================ */
button[type="button"] {
  width: 67px;
  height: 25px;
  border: 1px solid #eeeeee;
  margin: 1px;
}

/* 플로트 마감
================================================================ */
.clear::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

/* 하단 : 폭 = 부모값, 높이=고정
================================================================ */
#footer {
  border-top: 1px solid #9e9e9e;
  background-color: #eeeeee;
  width: auto;
  height: 80px;
}

/* 하단 영역 처리
================================================================ */
address {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
