/* 
 * @filename : starbucks.css
 * @author : 서지영(jen.jyseo@gmail.com)
 * @description : 스타벅스 메인 페이지를 제어하기 위한 CSS코드
*/

/* 전체 공통 내용
======================================== */
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* Float 처리 클래스 
-------------------------------------------------- */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
/* 상단 영역 정의
======================================== */
#headerRap {
  height: 120px;
  position: relative;
}
#header {
  background: #f6f5ef;
  border-bottom: 1px solid #e5e5e5;
  border-top: 2px solid #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
  height: 120px;
}
/* 상단 내부 영역 정의
======================================== */
#headerInner {
  height: 120px;
  width: 1100px;
  margin: 0 auto;
  position: relative;
}
/* 상단 내부 스타벅스 로고 영역 정의
======================================== */
#headerLogo {
  height: 75px;
  position: absolute;
  left: 0;
  top: 22px;
  width: 75px;
  z-index: 12;
}
/* 상단 내부 스타벅스 로고 정의
======================================== */
#headerLogo > a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: -20000px;
  width: 100%;
  background: url(img/logo.png);
}
/* 상단 스타벅스 회원 메뉴 영역 정의
======================================== */
#headerNav {
  height: 20px;
  right: 93px;
  top: 15px;
  width: 464px;
  position: absolute;
}
/* 상단 스타벅스 회원 메뉴 처리
======================================== */
#headerNav ul li {
  float: left;
  text-align: center;
  height: 20px;
}
/* 상단 스타벅스 회원 메뉴 li 영역 정의
======================================== */
#headerNav1 {
  width: 76px;
}
#headerNav2 {
  margin-left: 1px;
  width: 107px;
}
#headerNav3 {
  margin-left: 1px;
  width: 181px;
}
#headerNav4 {
  margin-left: 1px;
  width: 97px;
}
/* 상단 스타벅스 회원 메뉴 li a 처리
======================================== */
#headerNav ul li a {
  line-height: 20px;
  color: #555;
  display: block;
  font: normal 13px Avenir, Arial, georgia;
}
/* 상단 스타벅스 회원 메뉴 버튼 영역 정의
======================================== */
#headerBtn {
  height: 32px;
  right: 54px;
  top: 9px;
  width: 32px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
}
#headerBtn > a {
  height: 34px;
  width: 34px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
#headerBtn > a > img {
  right: 5px;
  top: 6px;
  position: absolute;
  z-index: 1;
}
/* 상단 스타벅스 회원 메뉴 버튼 클릭시 인풋 출력하도록 숨김처리
======================================== */
#headerSearch {
  background: none;
  border: none;
  color: #777;
  display: none;
  font-size: 12px;
  height: 22px;
  left: 0;
  padding: 0 10px;
  position: absolute;
  top: 5px;
  width: 123px;
}
/* 상단 스타벅스 메뉴 영역 정의
======================================== */
#headerNavMenu {
  height: 66px;
  top: 54px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 11;
}
#headerNavMenuInner {
  width: 1100px;
  margin: 0 auto;
}
/* 상단 스타벅스 메뉴 레이아웃 설정
======================================== */
#headerNavMenuInner > ul {
  float: right;
}
#headerNavMenuInner > ul > li {
  float: left;
}
/* 상단 스타벅스 메뉴 리스트 넒이 설정
======================================== */
#headerNavMenu1 {
  width: 89px;
}
#headerNavMenu2 {
  width: 73px;
}
#headerNavMenu3 {
  width: 79px;
}
#headerNavMenu4 {
  width: 153px;
}
#headerNavMenu5 {
  width: 255px;
}
#headerNavMenu6 {
  width: 131px;
}
/* 상단 스타벅스 메뉴 리스트 안의 a 처리
======================================== */
#headerNavMenuInner > ul > li > div > a {
  height: 56px;
  line-height: 20px;
  padding-top: 10px;
  color: #333;
  display: block;
  font: normal 13px Avenir, Arial, georgia;
  text-align: center;
  width: 100%;
}
/* 상단 스타벅스 메뉴 리스트 hover시 a요소 처리
======================================== */
#headerNavMenuInner > ul > li > div > a:hover {
  background: #2c2a29;
  color: #669900;
  text-decoration: underline;
}
/* 상단 스타벅스 메뉴 서브 리스트 영역 처리
======================================== */
.headerNavMenuSide {
  display: none;
  left: 0;
  top: 66px;
  background: #2c2a29;
  position: absolute;
  width: 100%;
}
.headerNavMenuSideInner {
  padding: 20px 0 20px 0;
  display: inline-block;
  width: 100%;
}
.headerNavMenuSideList {
  left: 50%;
  position: relative;
  margin-left: -550px;
  width: 1100px;
}
/* 상단 스타벅스 메뉴 서브 리스트 레이아웃 설정
======================================== */
.headerNavMenuSideUl {
  width: 220px;
  float: left;
}
/* 상단 스타벅스 메뉴 서브 리스트 서브 첫번째 li요소(제목 형식) li,a요소 처리
======================================== */
.headerNavMenuSideUl > .headerNavMenuSideFirst {
  padding-bottom: 12px;
  float: left;
  padding: 3px 0;
  width: 100%;
}
.headerNavMenuSideUl > .headerNavMenuSideFirst > a {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
}
/* 상단 스타벅스 메뉴 서브 리스트 li,a요소 처리
======================================== */
.headerNavMenuSideUl > li {
  float: left;
  padding: 3px 0;
  width: 100%;
}
.headerNavMenuSideUl > li > a {
  font-size: 12px;
  color: #999;
}
/* 상단 스타벅스 메뉴 서브 리스트 토글 ---------------> 수정
======================================== */
.on {
  display: block;
}

/* 메인 영역 정의
======================================== */
#container {
  width: 100%;
}
/* 메인 -> CARRY the MERRY 영역 정의
======================================== */
#topSection {
  height: 645px;
  background: #d1131d no-repeat 50% 50%;
  background-size: cover;
}
#topSectionInner {
  position: relative;
  box-sizing: border-box;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}
/* 메인 -> CARRY the MERRY 레이아웃 설정
======================================== */
#topTitle {
  position: absolute;
  bottom: 71%;
  z-index: 4;
  margin-left: -542px;
  width: 328px;
  max-width: 328px;
  left: 50%;
}
#topTitle > img {
  max-width: 100%;
}
/* 메인 -> CARRY the MERRY 음료 이미지 설정
======================================== */
#topDrinkImages {
  max-width: 100%;
  position: static;
  margin: 0;
  height: inherit;
}
#topImg1 {
  width: 27%;
  right: 50%;
  margin-right: -5%;
  max-width: 295px;
  bottom: 63px;
  z-index: 2;
  position: absolute;
}
#topImg2 {
  width: 46%;
  right: 50%;
  margin-right: -38%;
  max-width: 503px;
  bottom: 79px;
  z-index: 1;
  position: absolute;
}
#topImg3 {
  width: 21%;
  right: -4%;
  max-width: 236px;
  bottom: 63px;
  z-index: 3;
  position: absolute;
}
/* 메인 -> CARRY the MERRY 리본 이미지 설정
======================================== */
#topDrinkImages::before {
  left: -4%;
  bottom: 0;
  width: 348px;
  height: 280px;
  background: url(img/2021_chiristmas_bg_left.png) no-repeat 50% 100%;
  background-size: contain;
  content: "";
  display: block;
  position: absolute;
}
#topDrinkImages::after {
  right: 3%;
  top: 0;
  width: 249px;
  height: 160px;
  background: url(img/2021_chiristmas_bg_right.png) no-repeat 50% 0%;
  background-size: contain;
  content: "";
  display: block;
  position: absolute;
}
/* 메인 -> CARRY the MERRY 버튼 제어
======================================== */
#topbutton {
  top: 34.98452012383901%;
  z-index: 5;
  margin-left: -542px;
  width: 328px;
  max-width: 328px;
  left: 50%;
  position: absolute;
  height: 38px;
}
#topbutton > a {
  width: 129px;
  margin: 0 auto;
  color: #ffffff;
  border: 2px solid #ffffff;
  display: block;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

/* 메인 -> 공지사항/스타벅스 프로모션 영역 처리
======================================== */
#mainBanner {
  height: 62px;
  position: relative;
  width: 100%;
}
#mainBannerLeft {
  height: 62px;
  width: 50%;
  background: #111;
  left: 0;
  position: absolute;
  top: 0;
}
#mainBannerRight {
  height: 62px;
  width: 50%;
  background: #f6f5ef;
  position: absolute;
  right: 0;
  top: 0;
}
/* 메인 -> 공지사항/스타벅스 프로모션 배경 레이아웃 설정
======================================== */
#mainBannerBack {
  background: url(img/line_notice_bg.jpg);
  height: 62px;
  left: 50%;
  margin-left: -640px;
  width: 1280px;
  position: absolute;
  top: 0;
}
/* 메인 -> 공지사항 레이아웃 설정
======================================== */
#BannerLeft {
  height: 62px;
  width: 730px;
  float: left;
}
#BannerLeftInner {
  height: 36px;
  margin: 13px 0 0 89px;
  width: 621px;
  float: left;
}
/* 메인 -> 공지사항 dl제어
======================================== */
#BannerLeftInner > #BannerLeftInnerList {
  height: 33px;
  width: 494px;
  float: left;
  position: relative;
}
/* 메인 -> 공지사항 dt제어
======================================== */
#BannerLeftInner > #BannerLeftInnerList > dt {
  background: url(img/notice_ttl.png);
  background-size: 65px auto;
  height: 17px;
  left: 100px;
  top: 10px;
  overflow: hidden;
  position: absolute;
  text-indent: -20000px;
  width: 65px;
}

/* 메인 -> 공지사항 dd제어 
======================================== */
#BannerLeftInner > #BannerLeftInnerList > dd {
  position: absolute;
  left: 65px;
  top: 9px;
  width: 520px;
  height: 24px;
  text-indent: 15px;
  overflow: hidden;
}
/* 메인 -> 공지사항 dd -> ul 제어  --------------> js 효과 주기 
======================================== */
/* 메인 -> 공지사항 버튼 제어
======================================== */
#BannerLeftInnerBtn {
  height: 36px;
  width: 36px;
  float: right;
  position: relative;
}
#BannerLeftInnerBtn > span {
  background-size: 35px;
  height: 36px;
  left: 0;
  top: 0;
  width: 36px;
  position: absolute;
  background: url(img/btn_notice_plus.png) 0 0 no-repeat;
  background-size: 100% auto;
}
#BannerLeftInnerBtn > span > a {
  text-indent: -20000px;
  display: block;
}
/* 메인 -> 스타벅스 프로모션 레이아웃 설정
======================================== */
#BannerLeft {
  height: 62px;
  width: 730px;
  float: left;
}
#BannerLeftInner {
  height: 36px;
  margin: 13px 0 0 89px;
  width: 621px;
  float: left;
}
/* 메인 -> 스타벅스 프로모션 레이아웃 설정
======================================== */
#BannerRightInner {
  height: 62px;
  width: 550px;
  z-index: 10;
  float: right;
  position: relative;
}
#BannerRightInnerTitle {
  display: block;
  position: absolute;
  height: 36px;
  left: 37%;
  top: 13px;
  width: 234px;
}
#BannerRightInnerTitle > img {
  /* background-size: 100% auto; */
  height: 17px;
  left: 0;
  top: 9px;
  width: 130px;
  /* background: url(img/prom_ttl_b.png); */
  overflow: hidden;
  position: absolute;
  text-indent: -20000px;
}
/* 메인 -> 스타벅스 프로모션 버튼 설정
======================================== */
#BannerRightInnerBtn {
  overflow: hidden;
  position: absolute;
  height: 35px;
  right: 0px;
  top: 0px;
  width: 35px;
}
#BannerRightInnerBtn > img {
  width: 100%;
}
/* 메인 -> 스타벅스 리워드 영역 처리
======================================== */
#rewards {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
}
#rewardsInner {
  max-width: 1080px;
  margin: 0 auto;
}
/* 메인 -> 스타벅스 리워드 로고 영역 처리,설정
======================================== */
#rewardsLogo {
  float: left;
  width: 16.3%;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
#rewardsLogo > img {
  width: 176px;
}
/* 메인 -> 스타벅스 리워드 텍스트 영역 처리,설정
======================================== */
#rewardsContent {
  box-sizing: border-box;
  float: left;
  width: 794px;
  padding-right: 30px;
  color: #fff;
  letter-spacing: 0.5px;
}
/* 메인 -> 스타벅스 리워드 회원가입 레이아웃 설정
======================================== */
#rewardsJoinLogin {
  position: relative;
  margin-bottom: 22px;
  border-bottom: 1px solid #4b615b;
}
/* 메인 -> 스타벅스 리워드 회원가입 텍스트 설정
======================================== */
#rewardsJoinLogintxt {
  margin-bottom: 12px;
}
#rewardsJoinLogintxt > h2 {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: normal;
}
#rewardsJoinLogintxt > p {
  line-height: 1.4;
  font-size: 17px;
}
/* 메인 -> 스타벅스 리워드 회원가입/로그인 버튼 설정
======================================== */
#rewardsJoinLoginBtn {
  position: absolute;
  bottom: 20px;
  right: 0;
}
#rewardsJoinLoginBtn > a {
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#rewardsJoinBtn {
  background-color: #00704a;
  border: 2px solid #00704a;
}
#rewardsLoginBtn {
  margin-left: 9px;

  border: 2px solid #fff;
}
/* 메인 -> 스타벅스 리워드 기프트카드 영역 처리,설정
======================================== */
#rewardsEGift {
  position: relative;
}
#rewardsEGitftxt > p {
  line-height: 1.4;
  font-size: 14px;
}
/* 메인 -> 스타벅스 리워드 기프트카드 버튼 설정
======================================== */
#rewardsEGiftBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 183px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 5px;
}
#rewardsEGiftBtn > a {
  display: block;
  color: #fff;
}
/* 메인 -> 크리스마스 블랜드 영역 처리,설정
======================================== */
#christmasBlend {
  overflow: hidden;
  position: relative;
  height: 573px;
  background: #ff9ba1 url(img/2021_christmas_bean_bg.jpg) no-repeat 50% 50%;
  background-size: 100% 100%;
}
#christmasBlendInner {
  position: relative;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}
/* 메인 -> 크리스마스 블랜드 이미지 설정
======================================== */
#christmasBlendImg {
  top: 50%;
  margin-top: -18%;
  width: 44.81481481481481%;
  right: 45.64814814814815%;
  position: absolute;
  left: 9.53704%;
}
/* 메인 -> 크리스마스 블랜드 텍스트 설정
======================================== */
#christmasBlendTxt {
  top: 32%;
  width: 29%;
  right: 17%;
  position: absolute;
}
/* 메인 -> 크리스마스 블랜드 버튼 설정
======================================== */
#christmasBlendBtn {
  margin-top: 39px;
  width: 125px;
}
#christmasBlendBtn > a {
  color: #453d3d;
  border: 2px solid #453d3d;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 34px;
  border-radius: 5px;
  text-align: center;
}
/* 메인 -> reserve the merry 영역 처리,배경 설정
======================================== */
#reserveTheMarry {
  background-image: url(img/reserve_christmas_bean_211018.jpg);
  background-size: cover;
  position: relative;
  height: 400px;
  overflow: hidden;
}
#reserveTheMarryInner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
/* 메인 -> reserve the merry 타이틀 레이아웃 설정
======================================== */
#reservetitle {
  position: relative;
  z-index: 10;
  padding-top: 143px;
  max-width: 1100px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
#reservetitle > img {
  width: auto;
}
/* 메인 -> reserve the merry 버튼 설정
======================================== */
#reserveBtn {
  position: relative;
  z-index: 10;
  max-width: 1100px;
  margin: -10px auto 0;
}
#reserveBtnInner {
  padding-left: 283px;
  width: 583px;
}
#reserveBtnInner > a {
  display: block;
  margin: 0 auto;
  width: 125px;
  color: #d5a012;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #d5a012;
  border-radius: 5px;
}
/* 메인 -> pick your favorit 영역 처리,배경 설정
======================================== */
#pickYourFavorite {
  background: url(img/fav_prod_bg_new.jpg) center center fixed no-repeat #45434c;
  background-size: auto 100%;
  height: 800px;
  position: relative;
}
#pickYourFavoriteInner {
  left: 50%;
  margin-left: -640px;
  position: absolute;
  top: 0;
  width: 1280px;
}
/* 메인 -> pick your favorit 타이틀 설정
======================================== */
#pickYourFavoriteTitle {
  background: url(img/fav_prod_txt01.png) no-repeat;
  height: 204px;
  left: 200px;
  overflow: hidden;
  position: absolute;
  text-indent: -20000px;
  top: 120px;
  width: 258px;
  z-index: 7;
}
/* 메인 -> pick your favorit 서브 타이틀 설정
======================================== */
#pickYourFavoriteSubtitle {
  background: url(img/fav_prod_txt02.png);
  height: 156px;
  left: 92px;
  overflow: hidden;
  position: absolute;
  text-indent: -20000px;
  top: 370px;
  width: 362px;
  z-index: 7;
}
/* 메인 -> pick your favorit 이미지 설정
======================================== */
#pickYourFavoriteImg {
  top: 100px;
  right: -10px;
  width: 672px;
  height: 458px;
  background: url(img/2021_christmas_fav.png);
  position: absolute;
  z-index: 7;
  text-indent: -20000px;
}
/* 메인 -> pick your favorit 버튼 설정
======================================== */
#pickYourFavoriteBtn {
  width: 125px;
  height: 38px;
  left: 328px;
  position: absolute;
  top: 570px;
  z-index: 7;
}
#pickYourFavoriteBtn > a {
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 100%;
  line-height: 34px;
  text-align: center;
  width: 100%;
  transition: background-color 0.7s, color 0.7s;
}
/* 메인 -> reserve magazine 영역 처리,배경 설정
======================================== */
#reserveMagazine {
  background: url(img/reserve_bg_pc.png) no-repeat 50% 100%;
  position: relative;
  height: 400px;
  background-size: auto 353px;
}
#reserveMagazineInner {
  position: relative;
  margin: 0 auto;
}
/* 메인 -> reserve magazine 영역 처리,배경 설정
======================================== */
#reserveMagazineTitle {
  position: relative;
  z-index: 10;
  padding-top: 135px;
  padding-left: 55px;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
/* 메인 -> reserve magazine 이미지 설정
======================================== */
#reserveMagazineImage {
  display: block;
  position: absolute;
  bottom: auto;
  top: 0;
  right: 50%;
  margin-right: -483px;
}
/* 메인 -> reserve magazine 버튼 설정
======================================== */
#reserveMagazineBtn {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-width: 1100px;
  margin: 33px auto 0;
  box-sizing: border-box;
}
#reserveMagazineBtnInner {
  padding-left: 225px;
  width: 583px;
}
#reserveMagazineBtnInner > a {
  display: block;
  margin: 0 auto;
  width: 125px;
  height: 100%;
  color: #000;
  font-size: 15px;
  line-height: 34px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  transition: background-color 0.7s, color 0.7s, border-color 0.7s;
}
/* 메인 -> 스타벅스를 가까이에서 경험해보세요 영역처리,배경 설정
======================================== */
#store {
  background: url(img/store_bg.jpg);
  background-size: 100% auto;
  height: 400px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
#storeInner {
  left: 50%;
  margin-left: -640px;
  position: absolute;
  top: 0;
  width: 1280px;
}
/* 메인 -> 스타벅스를 가까이에서 경험해보세요 이미지 레이아웃 설정
======================================== */
#storeInsideImg {
  background: url(img/store_exp_img01.png);
  height: 228px;
  left: 390px;
  position: absolute;
  top: 149px;
  width: 228px;
  z-index: 5;
}
#storeTakeoutImg {
  background: url(img/store_exp_img02.png);
  height: 312px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 366px;
  z-index: 4;
}
#storeCoffeBenImg {
  background: url(img/store_exp_img03.png);
  height: 142px;
  left: 520px;
  position: absolute;
  top: -60px;
  width: 343px;
  z-index: 4;
}
#storeImg {
  background: url(img/store_exp_img04.png);
  height: 102px;
  position: absolute;
  right: 30px;
  top: 298px;
  width: 230px;
  z-index: 4;
}
/* 메인 -> 스타벅스를 가까이에서 경험해보세요 텍스트 이미지 레이아웃 설정
======================================== */
#storeTitleImg {
  background: url(img/store_txt01.png);
  height: 54px;
  position: absolute;
  right: 149px;
  overflow: hidden;
  top: 100px;
  width: 385px;
  z-index: 4;
}
#storetxt {
  background: url(img/store_txt02.png);
  height: 61px;
  position: absolute;
  right: 168px;
  overflow: hidden;
  top: 168px;
  width: 366px;
  z-index: 4;
}
/* 하단 -> 하단 영역 처리
======================================== */
#footer {
  padding: 32px 0 35px 0;
  background: #2c2a29;
  clear: both;
  position: relative;
  width: 100%;
}
/* 하단 -> 하단 메뉴 리스트 영역 처리,레이아웃 설정
======================================== */
#footerInner {
  margin-left: -591px;
  width: 1182px;
  background: url(img/footer_logo.png) right 8px no-repeat;
  display: inline-block;
  left: 50%;
  position: relative;
}
#footerList ul {
  width: 220px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}
/* 하단 -> 하단 메뉴 리스트 각각 타이틀 설정
======================================== */
#footerList .footerListTitle {
  font-size: 14px;
  line-height: 40px;
  color: #fff;
}
#footerList > ul > li > a {
  color: #fff;
  font-size: 12px;
  line-height: 24px;
  width: 100%;
}
/* 하단 -> 수상내역 영역 처리
======================================== */
#footerAward {
  height: 80px;
  margin-top: 40px;
  background: #282828;
  position: relative;
  width: 100%;
  padding-top: 20px;
}
#footerAwardInner {
  position: absolute;
  left: 50%;
  margin-left: -591px;
  width: 1182px;
  padding-bottom: 20px;
}
/* 하단 -> 수상내역 리스트 레이아웃 설정
======================================== */
#footerAwardList {
  position: relative;
}
#footerAwardList li {
  float: left;
  position: relative;
}
#footerAwardList li a {
  display: block;
}
/* 하단 -> footer copyright 영역 처리
======================================== */
#copyright {
  font-size: 12px;
  line-height: 18px;
  margin-left: -50%;
  padding-top: 30px;
  text-align: center;
  width: 100%;
  left: 50%;
  position: relative;
  color: #999;
}
#copyright .copyrightList {
  border-right: 1px solid #393939;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  color: #ccc;
}
#copyright .copyrightList.firstCopy {
  color: #00b050;
}
/* 하단 -> footer copyright 버튼 레이아웃,설정
======================================== */
.copyrightBtn {
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin: 10px 2px 0 3px;
  width: 90px;
  height: 30px;
  line-height: 30px;
}
/* 하단 -> 사업자등록,주소 등 영역 처리,레이아웃 설정
======================================== */
#copyrightAddressList {
  padding: 25px 0 5px 0;
  margin: 0 auto;
  text-align: center;
}
#copyrightAddressList li {
  display: inline-block;
  margin: 0 7px;
}
/* 하단 -> copyright 영역 처리,스타일 설정
======================================== */
#copyrightAddress {
  display: inline-block;
  margin: 10px 0 20px 0;
}
